In [1]:
s = [1, 9, -3, 6, 7, 10000, -3]

In [3]:
# 3ème quartile (Q3) (75% des valeurs à gauche, 25% des valeurs à droite) ?

In [4]:
s = [-3, -3, 1, 6, 7, 9, 10000]

In [5]:
# Q2 = médiane = 6

In [7]:
len(s) * 0.75

5.25

In [8]:
# Q3 = (7 + 9) / 2 = 8

In [9]:
(s[4] + s[5]) / 2

8.0

In [10]:
# moyenne

In [11]:
sum(s) / len(s)

1431.0

In [12]:
# une technique pour enlever les outliers :
# enlever les valeurs qui sont à gauche de Q1 - 1.5*IQR
# enlever les valeurs qui sont à droite de Q3 + 1.5*IQR
# IQR = Inter Quartile Range (Ecart Inter Quartile)
# IQR = Q3 - Q1

In [13]:
# écart type de s ? 
s = [1, 9, -3, 6, 7, 10000, -3]

In [14]:
# écart type = racine carrée de la moyenne des déviations par rapport à la moyenne au carré

In [15]:
m = sum(s) / len(s)

In [16]:
m

1431.0

In [17]:
dev = [(x - m)**2 for x in s]

In [18]:
dev

[2044900.0, 2022084.0, 2056356.0, 2030625.0, 2027776.0, 73427761.0, 2056356.0]

In [21]:
import math

In [22]:
math.sqrt(sum(dev) / len(dev))

3498.2823948740493

In [23]:
len(s) * 0.25

1.75

In [24]:
(s[0] + s[1]) / 2

5.0

In [25]:
IQR = 8 - 5

In [26]:
IQR

3

In [27]:
import pandas as pd

In [28]:
animals_df = pd.read_csv('animals.csv')

In [29]:
animals_df.head()

   brainwt   bodywt      animal
0    3.385   44.500  Arctic_fox
1    0.480   15.499  Owl_monkey
2    1.350    8.100      Beaver
3  464.983  423.012         Cow
4   36.328  119.498   Gray_wolf

In [30]:
animals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   brainwt  62 non-null     float64
 1   bodywt   62 non-null     float64
 2   animal   62 non-null     object
dtypes: float64(2), object(1)
memory usage: 1.6+ KB

In [31]:
animals_df.describe()

           brainwt       bodywt
count    62.000000    62.000000
mean    198.794290   283.135355
std     899.182313   930.278876
min       0.005000     0.140000
25%       0.600000     4.250000
50%       3.342500    17.250000
75%      48.201250   165.998250
max    6654.180000  5711.860000

In [39]:
animals_df.iloc[1:6, 1:3]

    bodywt      animal
1   15.499  Owl_monkey
2    8.100      Beaver
3  423.012         Cow
4  119.498   Gray_wolf
5  114.996        Goat

In [42]:
animals_df.loc[1:6, 'bodywt':'animal']

    bodywt      animal
1   15.499  Owl_monkey
2    8.100      Beaver
3  423.012         Cow
4  119.498   Gray_wolf
5  114.996        Goat
6   98.199    Roe_deer

In [43]:
animals_df.index = animals_df.animal

In [54]:
animals_df.loc['Owl_monkey':'Tenrec', animals_df.columns != 'brainwt'].head()

             bodywt      animal
animal
Owl_monkey   15.499  Owl_monkey
Beaver        8.100      Beaver
Cow         423.012         Cow
Gray_wolf   119.498   Gray_wolf
Goat        114.996        Goat

In [65]:
import numpy as np

In [67]:
animals_df.loc[np.sqrt(animals_df.brainwt / animals_df.bodywt) < 0.2, animals_df.columns != 'animal']

                           brainwt   bodywt
animal
Owl_monkey                   0.480   15.499
Ground_squirrel              0.101    4.000
Lesser_short-tailed-shrew    0.005    0.140
Rhesus_monkey                6.800  179.003

In [70]:
animals_df[animals_df.animal.str.endswith('monkey')]

               brainwt   bodywt         animal
animal
Owl_monkey        0.48   15.499     Owl_monkey
Patas_monkey     10.00  114.996   Patas_monkey
Rhesus_monkey     6.80  179.003  Rhesus_monkey

In [75]:
animals_df[animals_df.animal.str.contains('_')][animals_df.brainwt > 3][animals_df.bodywt < 300]

/Users/work/.local/share/virtualenvs/datapt090121-u9iSQ8P3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                       brainwt   bodywt                 animal
animal
Arctic_fox               3.385   44.500             Arctic_fox
Gray_wolf               36.328  119.498              Gray_wolf
Roe_deer                14.831   98.199               Roe_deer
Nine-banded_armadillo    3.500   10.800  Nine-banded_armadillo
Patas_monkey            10.000  114.996           Patas_monkey
Water_opossum            3.500    3.900          Water_opossum
Rhesus_monkey            6.800  179.003          Rhesus_monkey
Yellow-bellied_marmot    4.050   17.000  Yellow-bellied_marmot
Giant_armadillo         59.997   80.996        Giant_armadillo
Rock_hyrax2              3.600   21.000            Rock_hyrax2
Brazilian_tapir        160.004  169.000        Brazilian_tapir
Red_fox                  4.235   50.400                Red_fox